.body {

}

.page-wrapper {
    max-height: 100%;

}

.main-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row wrap;
    place-content: stretch flex-start;
    align-items: stretch;
}

.navbar-body {
    display: block;
    width: 5%;
    max-width: 10%;
    flex-direction: row;
    grid-auto-columns: 1fr;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: rgb(118, 255, 181);
}

.navbar {
    height: 100%;
    background-color: transparent;
}

.brand {
    margin-bottom: 20px;
}

.main-navbar-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar-nav-container {
    display: flex;
    height: auto;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vw;
}

.tag-menu-layout {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    border-right: 1px solid rgb(143, 129, 129);
    border-radius: 1px;
}

.margin-vertical {

}

.margin-large {
    margin: 3% 2%;
}

.tag-menu {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    border-right: 1px solid rgb(143, 129, 129);
    border-radius: 1px;
}

.tag-item-heading {
}

.tag-heading-colum {
}

.tag-column-item-1 {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tag-column-item-2 {
}

.tag-item-todo-list {
    margin-top: 2%;
    margin-bottom: 2%;
}

.tag-menu-items-wrapper {
}

.tag-menu-items {
    height: auto;
}

.tag-nav-link {
    display: inline;
    overflow: visible;
    margin-right: 0px;
    margin-left: 0px;
    padding: 5px 0px;
    color: rgb(26, 27, 31);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.tag-menu-nav-list-item {
    margin-top: 1%;
    margin-bottom: 1%;
}

.tag-menu-nav {
    display: flex;
    margin-bottom: 10px;
    padding-left: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}

.todo-body-section {
    height: auto;
    max-height: 75vh;
    min-height: 75vh;
}

.todo-list-container {
}

.todo-list-form-block {
}

.w-form {
    margin: 0 0 15px;
}

.todo-list-form {
}

.todo-checkbox {
    width: 20px;
    height: 20px;
    margin-left: -20px;
}
.todo-checkbox-label {
    margin-top: 5px;
    padding-left: 15px;
}

.w-form-label {
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0px;
}

.w-checkbox {
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
}


.w-checkbox::before {
    content: " ";
    display: table;
    grid-area: 1 / 1 / 2 / 2;
}

.w-checkbox::after {
    content: " ";
    display: table;
    grid-area: 1 / 1 / 2 / 2;
    clear: both;
}

.todo-checkbox-field {
}

.todo-heading-section {
    position: relative;
    height: auto;
    /*max-height: 15vh;*/
    /*min-height: 15vh;*/
    border-top: 1px none black;
    border-bottom: 1px solid black;
    border-radius: 1px;
}

.margin-medium {
    display: block;
    margin: 1.2% 2%;
    grid-auto-columns: 1fr;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.todo-heading-wrapper {
    display: block;
}

.margin-top {

}

.margin-top-small {
    margin-top: 1.2%;
}

.todo-navbar {

}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.todo-menu-block {
    display: flex;
    margin-bottom: 0px;
    padding-left: 0px;
    justify-content: flex-start;
    align-items: center;
}

.nav-link {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    color: rgb(26, 27, 31);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.image {
    margin-top: 20px;
    margin-bottom: 10px;
}

.w-row:after {
    clear: both;
}

.w-row:before, .w-row:after {
    content: " ";
    display: table;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-2 {
    width: 16.66666667%;
}

.w-col-10 {
    width: 83.33333333%;
}

.todo-body-section {
    height: auto;
    max-height: 75vh;
    min-height: 75vh;
}

.todo-footer-section {
    height: auto;
    max-height: 10vh;
    min-height: 10vh;
    border-top: 1px solid black;
    border-radius: 1px;
}


.todo-details-layout {
    width: 75%;
}

.home-nav {
    position: static;
    display: flex;
    width: 100%;
    float: none;
    clear: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.fav-nav {
    position: static;
    display: flex;
    width: 100%;
    float: none;
    clear: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.more-nav {
    position: static;
    display: flex;
    width: 100%;
    float: none;
    clear: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}


.nav-bar {
    position: relative;
    z-index: 20;
    padding: 1.25rem 5%;
    background-color: rgb(255, 255, 255);
    font-family: SFMonoLight, serif;
}

.list {
    list-style-type: none;
}

.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.nav-bar-container {
    position: static;
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
    justify-content: space-between;
    align-items: stretch;
}

.section-todo-hero {

}

.section-todo-body {

}

.section-todo-footer {

}

.page-padding {
    display: block;
    height: auto;
    padding-right: 0rem;
    padding-left: 0rem;
}

.container-large {
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.container-xlarge {
    height: 80vh;
}

.padding-vertical {
    padding-left: 0rem;
    padding-right: 0rem;
}

.padding-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
